<section class="pop_box">
    <div class="row clearfix">
        <a data-remodal-action="close" class="nav-toggle close"><span class="iconMenu"></span></a>
        <div class="center">
            <h3>¡Tu cancelación fue exitosa!</h3>
            <small>Tu lugar quedó liberado correctamente.</small>
        </div>

        <div class="modal-actions">
            <a href="{{ path('profile') }}" class="btn secondary">Ir a mi cuenta</a>
            <a href="{{ path('reservation_calendar', {'slug': config_first_branch_slug()}) }}" class="btn">Reservar clase</a>
        </div>
    </div>
</section>