<section class="pop_box">
    <div class="row clearfix">
        <a data-remodal-action="close" class="nav-toggle close"><span class="iconMenu"></span></a>
        <div class="center">
            <h3>¡Saliste de la lista de espera!</h3>
            <small>Tu solicitud fue cancelada correctamente.</small>
        </div>

        <div class="modal-actions">
            <a href="{{ path('profile_waiting_list') }}" class="btn secondary">Ver lista de espera</a>
            <a href="{{ path('reservation_calendar', {'slug': config_first_branch_slug()}) }}" class="btn">Reservar clase</a>
        </div>
    </div>
</section>
