<aside id="packages">
    <div class="row">
        <div class="content">
            <div class="title clearfix center">
                <h3>Paquetes y costos</h3>
            </div>
            <div class="center">
                <h4>Clases grupales</h4>
                <div class="price">
                    {{ render(controller('App\\Controller\\PackageController::groupPackages', { 'gift': isGiftMode|default(false) ? 1 : 0 })) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="content">
            <div class="center">
                <h4>Clases individuales</h4>
                <div class="price">
                    {{ render(controller('App\\Controller\\PackageController::individualPackages', { 'gift': isGiftMode|default(false) ? 1 : 0 })) }}
                </div>

                <a href="{{ path('reservation_calendar', {'slug': config_first_branch_slug()}) }}" class="btn">
                    Consulta el calendario
                </a>
            </div>
        </div>
    </div>
</aside>
