{# Tarjeta de entrada para compra de gift card #}
<a href="{{ path('package_index', { 'gift': 1 }) }}" class="gift-card-entry">
    <div>
        <p><i class="bi bi-gift"></i></p>
    </div>
    <h6>
        <small>Tarjeta de regalo</small><br>
        Regala cualquiera de nuestros paquetes activos
    </h6>
    <small class="validity">Comprar regalo</small>
</a>
