<section class="pop_box">
    <div class="row clearfix">
        <a data-remodal-action="close" class="nav-toggle close"><span class="iconMenu"></span></a>
        <div class="center">
            <h3>¡Tu registro ha sido exitoso!</h3>
            <small>Si se libera un lugar, te lo asignaremos automáticamente y te notificaremos por correo electrónico.</small>
        </div>

        <div class="modal-actions">
            <a href="{{ path('profile_waiting_list') }}" class="btn secondary">Ver lista de espera</a>
            <a href="{{ path('reservation_calendar') }}" class="btn">Reservar clase</a>
        </div>
    </div>
</section>