{% extends 'base.html.twig' %}

{% block body %}
    {{ include('default/_header.html.twig') }}

    <div class="{% block content_offset %}pt-16{% endblock %}">
        {% block content %}{% endblock %}
    </div>

    {{ include('default/_footer.html.twig') }}
{% endblock %}
